<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @catalog_item.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @catalog_item.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @catalog_item.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @catalog_item.price %>
</p>

<p>
  <strong>Position:</strong>
  <%= @catalog_item.position %>
</p>

<p>
  <strong>Section:</strong>
  <%= @catalog_item.section %>
</p>

<%= link_to 'Edit', edit_catalog_item_path(@catalog_item) %> |
<%= link_to 'Back', catalog_items_path %>
