<p id="notice"><%= notice %></p>

<h1>
  <%= @catalog_item.title %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @catalog_item.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @catalog_item.price %>
</p>


<%= link_to 'Edit', edit_catalog_item_path(@catalog_item) %> |
<%= link_to 'Catalog Items', catalog_items_path %>
