<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @section.parent_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @section.slug %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>

<hr />

<% @section.content.each do |content| %>
  <p>
    <%= content.title %>
  </p>
<% end %>

