<p id="notice"><%= notice %></p>

<h1>
  <%= @section.title %>
</h1>

<p>
  <strong>Parent:</strong>
  <%= @section.parent_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @section.slug %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>

<hr />

<h2>
  Content
</h2>

<% @section.content.each do |content| %>
  <p>
    <%= link_to content.title, url_for(content) %>
  </p>
<% end %>

