<!DOCTYPE html>
<html>
<head>
  <title>FerorNavigationProto</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to Page.model_name.human.pluralize, pages_path %>
<%= link_to Section.model_name.human.pluralize, sections_path %>

<%= yield %>

</body>
</html>
